.list-cell:empty {
    -fx-opacity: 0;
    -fx-background-color: #ffffff;
}

.background {
    -fx-background-color: #ffffff;
}

.list-view {
    -fx-border-color: #ffffff;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;

}

.list-cell {
    -fx-text-fill: #ffffff;
    -fx-background-color: #000000;
    -fx-border-color: #ffffff;
    -fx-font-family: "Jokerman";
    -fx-alignment: center;

}

.label {
    -fx-text-fill: #000000;
    -fx-font-family: "Jokerman";
    -fx-font-size: 50;
    -fx-border-color: grey;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;
}
